._35i0{text-decoration:underline}._4g4e{color:#4b4f56}
.sp_Na6RxBqVdH7_1_5x{background-image:url(/rsrc.php/v3/ys/r/xLKPEugyQVT.png);background-size:52px 62px;background-repeat:no-repeat;display:inline-block;height:50px;width:50px}.sp_Na6RxBqVdH7_1_5x.sx_2d0d21{width:8px;height:8px;background-position:0 -52px}.sp_Na6RxBqVdH7_1_5x.sx_ab81fd{background-position:0 0}

#bootloader_8g97V{height:42px;}.bootloader_8g97V{display:block!important;}